@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   
    <h1 class="display-2">Welcome to web app</h1>
    <h2 class="display-3">Webapp .Netcore</h2>
    <p>This is  my sample webapp .NET Core</a>.</p>
</div>
